# Dependencies
node_modules/
npm-debug.log*

# Build outputs
dist/
build/
.cache/
coverage/
site/

# Entorno
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
*~
*.sublime-workspace
*.sublime-project

# direnv
.direnv
.envrc

# Logs
*.log
logs/

# Temp
*.tmp
*.bak
*.cache
